body {
    background-color: #ecebeb !important;
}


/* farba navbaru */
.navbar {
    background-color: #feb81c;
}

/* text v navbare */
.navbar a {
    float: left;
    display: block;
    color: #0e306d;
    font-family: "Arial", serif;
    font-weight: bold;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

/* text v navbare pri "hover-ovani" */
.navbar a:hover {
    background-color: #feb81c;
    color: white;
    font-family: "Arial", serif;
    font-weight: bold;
}

.fri-image {
    width: 100%;
    height: auto;
    float: left;
    padding-left: 100px;
}

.fri-image-a {
    width: 300px;
}


.login {
    float: right;
    margin: 5px;
    padding-right: 100px;
}

.login i {
    padding-right: 5px;
}

.dropdown-menu a:hover{
    background-color: white;
    color: #0e306d;
}

.col-md-6.card.mx-auto{
    margin-top: 1rem;
}

.card .card {
    padding: 10px;
    background-color: lightgray !important;
    border: none;
    border-color: transparent !important;
}
.card {
    padding: 10px;
    background-color: lightgray !important;
    border: none;
}

div .errorText {
    color: red;
}

div .form-group{
    padding-bottom: 15px;

}

div .row {
    margin: auto;
    }

.pagination {
    display: flex;
    justify-content: center;
    list-style: none;
    padding: 0;
    margin-top: 5px;
}

.pagination li {
    margin: 0 5px;
}

.pagination a {
    text-decoration: none;
    padding: 5px 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.pagination .active a {
    background-color: #007bff;
    color: #fff;
}

.pagination .disabled a {
    pointer-events: none;
    background-color: #ddd;
    color: #777;
}

/* CSS z max šírkou oknka 768 */
@media (max-width: 768px) {
    .card {
        width: 80% !important;
        padding: 10px;
        background-color: lightgray !important;
        border: none;
    }

    a.dropdown-item {
        background-color: #feb81c;
    }

    a.dropdown-item:hover{
        background-color: #feb81c !important;
        color: white !important;
    }

    ul.dropdown-menu.show {
        display:table-header-group;
    }

  }